
body {
    
    min-height: 100vh;
    vertical-align: middle;
    
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold
}

.fonas{
    background-color: #e2dfdf;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 15px;
    border: 1px solid rgb(189, 187, 187);

    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold

}

.korteles:hover{
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 40%);
    transition: all 200ms ease-out;
    
}


a {
    color: black;
    
}

a:hover {
    color: rgb(5, 59, 104);
    text-decoration:none;
    text-shadow: 2px 2px #0732744d;
}

textarea{
    width: 59%;
    margin-bottom: 24px;
    padding: 17px 30px;
    border: 1px solid #ccc;
    outline: 0;
    font-size: 15px;
    color: #797979;
    font-family: "Crimson Text",serif;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cart_count{
    text-align: center;
    padding: 0 0.5rem 0.2rem 0.5rem;
    border-radius: 3rem;
}
